  /* shared styles */
 .dark{
    color: rgba(14, 14, 14, 1);
}
h1,h2,h5,p{
   margin: 0px;
}
div button:hover{
  background-color: aquamarine;
  color: black;
 }



 /* header styles */
header{
  margin: 0px 160px;
}
 nav{
    display: flex;
     align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-title{
    font-size: 32px;
    font-weight: bold;
    
 }
nav  button:hover{
  background-color: aquamarine;
  color: black;
}
 .nav-btn{
    width: 116px;
    height: 52px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 106, 80);
border: 1px solid rgb(0, 106, 80);
border-radius: 8px;
 }
 .header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 30px 60px;
     height: 560px;
    border-radius: 24px;
    background-color: rgb(198, 228, 214);
 }
 .header-title{
    font-size: 56px;
    font-weight: bold;
  }
 .header-subtitle{
    font-size: 24px;
    font-weight: 500;
     color: rgba(14, 14, 14, 0.5);
     margin-bottom: 16px;
 }
.header-img{
   width: 475px;
   height: 400px;
}
.header-btn{
   width: 270px;
   height: 56px;
   border: none;
   border-radius: 8px;
   background: rgb(0, 106, 80);
   color: rgb(255, 255, 255);
   font-size: 14px;
   font-weight: 500;
   padding: 17px 34px;
   margin-top: 24px;
 }
 


 /* main styles */
 .cards{
   margin: 80px 160px;
 }
 .cards-title{
   font-size: 48px;
   font-weight: bold;
   color: rgba(14, 14, 14, 1.00);
   margin-bottom: 28px;
 }
 .card{
   display: flex;
   gap: 24px;
 }
 .card-container{
   padding: 24px;
   color: rgba(255, 255, 255, 1);
   border-radius: 16px;
   border: 1px solid rgba(14, 14, 14, 0.15);
 }
 .card-title{
   color: rgba(14, 14, 14, 0.8);
   font-size: 20px;
   font-weight: 700;
   text-align: left;
   margin-top: 25px;
   margin-bottom: 12px;
 }
 .card-description{
   color: rgba(14, 14, 14, 0.7);
   font-size: 16px;
   font-weight: 400;
   text-align: left;
 }
 .card-img{
   width: 62px;
   height: 62px;
 }

 .card-box{
  margin: 0px 160px;
 }
 .card-box-container-2{
  margin-top: 32px;
  border-radius: 16px;
  background: rgb(198, 228, 214);
  padding: 32px;
  }
 .card-box-container-1{
   margin-top: 32px;
    border-radius: 16px;
   background: rgba(84, 144, 245, 0.2);
   padding: 32px;
 }
  .card-box-container-3{
    margin-top: 32px;
   border-radius: 16px;
   background: rgb(247, 235, 207);
   padding: 32px;
  }

 .card-box-description{
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
 }
 .card-box-btn-2{
  border-radius: 8px;
  border: none;
  background: rgb(9, 161, 92);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  padding: 8px 13px;
  margin-top: 24px;
  }

  .card-box-btn-1{
    border-radius: 8px;
    border: none;
    background: rgb(84, 144, 245);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    margin-top: 48px;
  }
  .card-box-btn-3{
    border-radius: 8px;
     background: rgb(255, 194, 57);
    border: none;
     color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    padding: 8px 13px;
    margin-top: 48px;
  }
  .younus{
    margin-top: 32px;
    padding: 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255); 
      }
    .parent{
      background-image:url("../assets/quote-bg.png");
      background-repeat: no-repeat; 
     }
   .y-title{
    margin-top: 12px;
   }
    .opinion{
    margin: 80px 160px;
   }
   .opinion-container{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    }
   .qs{
     display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(198, 228, 214);
    }
    .opinion-box{
      display: flex;
      }
    .qs-description{
         color: rgb(14, 14, 14);
      font-size: 16px;
      font-weight: 600;
      text-align:left;
      }
    .qs-box{
     border: 1px solid rgba(14, 14, 14, 0.15);
     background: rgba(255, 255, 255, 0.1);
     padding: 18px 30px;
     width: 100%;
     display: flex;
     align-items: center;
    }
    .select-box{
      padding: 18px;
      border: 1px solid rgba(14, 14, 14, 0.15);
      background: rgba(255, 255, 255, 0.1);
    }
    select{
     border: 1px solid rgb(14, 14, 14);
     border-radius: 4px;
     background: rgb(198, 228, 214);
     padding: 10px 14px;
    }

    .sattelite-container{
      margin: 0 160px;
    }
    .sattalite-subcontainer{
      display: flex;
      gap: 32px;
      border-radius: 24px;
      padding: 48px;
      background: rgb(255, 255, 255);
      border: 1px solid rgba(14, 14, 14, 0.15);
      margin-top: 32px;
    }
    .aj-img{
      width: 134px;
      height: 40px;
      margin: 12px 0px;
    }
    .satt-img{
      width: 408px;
      height: 306px;
      border-radius: 24px;
    }
    .time{
      display: flex;
      gap: 12px;
      margin-bottom: 12px;
    }
    .satt-btn{
      border-radius: 8px;
      background: rgb(0, 106, 80);
      padding: 13px 26px;
      height: 48px;
      width: 139px;
      border: none;
      color: rgb(255, 255, 255);
      font-size: 15px;
      font-weight: 500;
      text-align: center;
      margin-top: 32px;
    }
     .donate{
      margin: 80px 160px;
      }
    .donate-title{
      color: rgb(14, 14, 14);
      font-size: 40px;
      font-weight: 700;
      text-align: center;
    }
    .donate-description{
      color: rgba(14, 14, 14, 0.7);
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      margin-top: 24px;
    }
.taka{
  display: flex;
  justify-content: space-around;
   margin-top: 24px;
 }
 .paisa:hover{
  background: rgba(84, 144, 245, 0.2);
 }
.paisa{
   border: 1px solid rgba(14, 14, 14, 0.15);
   border-radius: 16px;
   background: rgb(255, 255, 255);
   padding: 40px;
   color: rgba(14, 14, 14, 0.8);
   font-size: 40px;
  font-weight: 700;
  text-align: left;
}
.taka-bg{
  background-color:  rgb(198, 228, 214);
}
.donate-form{
 border-bottom: 0.5px solid rgba(14, 14, 14, 0.15);
 background: rgb(255, 255, 255);
 margin-top: 32px;
 margin-bottom: 32px;
 width: 90%;
 padding: 20px 40px;
 text-align: center;
 color: rgba(14, 14, 14, 0.3);
 font-size: 20px;
 font-weight: 400;
  }
  .btn-primary{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 13px 26px;
    height: 48px;
    width: 139px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
     display: block;
    margin: auto;
   }

   .subscribe{
    border-radius: 24px;
    padding: 80px 100px;
     background: rgb(198, 228, 214);
     margin: 0px 160px;
   }
   .suscribe-div{
    display: flex; 
      justify-content: center;
     margin: 25px 0px;
   }
   .subscribe-btn{
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    padding: 13px 40px;
    height: 45px;
    width: 139px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    }
   .subscribe-input{
    border-radius: 8px 0px 0px 8px;
    border: none;
    background: rgb(255, 255, 255); 
    padding: 13px 40px;
    color: rgba(14, 14, 14, 0.3);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    width: 500px;
    height: 19px;
     }

     /* footer style */

     .Bangladesh{
      margin: 80px 0px;
      padding: 50px 160px;
      background: rgb(255, 255, 255);
       justify-items: center;
     }
     .footer-img{
      display: flex;
      align-items: center;
       gap: 20px;
      width: 26px;
      height: 26px;
      margin-top: 64px;
     }


     